In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn import tree

import seaborn as sns

import acquire_prep
from acquire_prep import acquire_df
from acquire_prep import prep_df

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = prep_df()

In [3]:
df.head().T

,0,3,4,6,9
borough,1,1,1,1,1
neighborhood,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY
building_class_category,07 RENTALS - WALKUP APARTMENTS,07 RENTALS - WALKUP APARTMENTS,07 RENTALS - WALKUP APARTMENTS,07 RENTALS - WALKUP APARTMENTS,08 RENTALS - ELEVATOR APARTMENTS
tax_class_at_present,2A,2B,2A,2B,2
block,392,402,404,406,387
lot,6,21,55,32,153
ease_ment,,,,,
building_class_at_present,C2,C4,C2,C4,D9
address,153 AVENUE B,154 EAST 7TH STREET,301 EAST 10TH STREET,210 AVENUE B,629 EAST 5TH STREET
apartment_number,,,,,
zip_code,10009,10009,10009,10009,10009
residential_units,5,10,6,8,24
commercial_units,0,0,0,0,0
total_units,5,10,6,8,24
land_square_feet,1633,2272,2369,1750,4489
gross_square_feet,6440,6794,4615,4226,18523
year_built,1900,1913,1900,1920,1920
tax_class_at_time_of_sale,2,2,2,2,2
building_class_at_time_of_sale,C2,C4,C2,C4,D9
sale_price,6625000,3936272,8000000,3192840,16232000
sale_date,2017-07-19 00:00:00,2016-09-23 00:00:00,2016-11-17 00:00:00,2016-09-23 00:00:00,2016-11-07 00:00:00

In [4]:
df.sale_price = df.sale_price.str.replace('-', '')

In [5]:
df.isnull().sum()

borough                           0
neighborhood                      0
building_class_category           0
tax_class_at_present              0
block                             0
lot                               0
ease_ment                         0
building_class_at_present         0
address                           0
apartment_number                  0
zip_code                          0
residential_units                 0
commercial_units                  0
total_units                       0
land_square_feet                  0
gross_square_feet                 0
year_built                        0
tax_class_at_time_of_sale         0
building_class_at_time_of_sale    0
sale_price                        0
sale_date                         0
dtype: int64

In [6]:
df.head().T

,0,3,4,6,9
borough,1,1,1,1,1
neighborhood,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY
building_class_category,07 RENTALS - WALKUP APARTMENTS,07 RENTALS - WALKUP APARTMENTS,07 RENTALS - WALKUP APARTMENTS,07 RENTALS - WALKUP APARTMENTS,08 RENTALS - ELEVATOR APARTMENTS
tax_class_at_present,2A,2B,2A,2B,2
block,392,402,404,406,387
lot,6,21,55,32,153
ease_ment,,,,,
building_class_at_present,C2,C4,C2,C4,D9
address,153 AVENUE B,154 EAST 7TH STREET,301 EAST 10TH STREET,210 AVENUE B,629 EAST 5TH STREET
apartment_number,,,,,
zip_code,10009,10009,10009,10009,10009
residential_units,5,10,6,8,24
commercial_units,0,0,0,0,0
total_units,5,10,6,8,24
land_square_feet,1633,2272,2369,1750,4489
gross_square_feet,6440,6794,4615,4226,18523
year_built,1900,1913,1900,1920,1920
tax_class_at_time_of_sale,2,2,2,2,2
building_class_at_time_of_sale,C2,C4,C2,C4,D9
sale_price,6625000,3936272,8000000,3192840,16232000
sale_date,2017-07-19 00:00:00,2016-09-23 00:00:00,2016-11-17 00:00:00,2016-09-23 00:00:00,2016-11-07 00:00:00

In [14]:
df.gross_square_feet = df.gross_square_feet.str.replace(' ', '')

In [16]:
df[df.gross_square_feet == '-'].T

,12,13,14,15,16,17,18,19,21,23,...,84379,84380,84381,84382,84383,84384,84385,84388,84389,84394
borough,1,1,1,1,1,1,1,1,1,1,...,5,5,5,5,5,5,5,5,5,5
neighborhood,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY,...,WILLOWBROOK,WILLOWBROOK,WILLOWBROOK,WILLOWBROOK,WILLOWBROOK,WILLOWBROOK,WILLOWBROOK,WILLOWBROOK,WILLOWBROOK,WILLOWBROOK
building_class_category,09 COOPS - WALKUP APARTMENTS,09 COOPS - WALKUP APARTMENTS,09 COOPS - WALKUP APARTMENTS,09 COOPS - WALKUP APARTMENTS,09 COOPS - WALKUP APARTMENTS,09 COOPS - WALKUP APARTMENTS,09 COOPS - WALKUP APARTMENTS,09 COOPS - WALKUP APARTMENTS,09 COOPS - WALKUP APARTMENTS,09 COOPS - WALKUP APARTMENTS,...,04 TAX CLASS 1 CONDOS,04 TAX CLASS 1 CONDOS,04 TAX CLASS 1 CONDOS,04 TAX CLASS 1 CONDOS,04 TAX CLASS 1 CONDOS,04 TAX CLASS 1 CONDOS,04 TAX CLASS 1 CONDOS,04 TAX CLASS 1 CONDOS,05 TAX CLASS 1 VACANT LAND,44 CONDO PARKING
tax_class_at_present,2,2,2,2,2,2,2,2,2,2,...,1A,1A,1A,1A,1A,1A,1A,1A,1B,4
block,373,373,373,373,373,373,373,373,375,376,...,1965,1965,1965,1965,2086,2087,2087,2089,730,1965
lot,40,40,40,40,40,46,49,49,30,14,...,1119,1120,1121,1122,1009,1002,1021,1006,65,1126
ease_ment,,,,,,,,,,,...,,,,,,,,,,
building_class_at_present,C6,C6,C6,C6,C6,C6,C6,C6,C6,C6,...,R3,R3,R3,R3,R3,R3,R3,R3,V0,RP
address,"327 EAST 3 STREET, 1C","327 EAST 3 STREET, 1C","327 EAST 3 STREET, 3A","327 EAST 3RD STREET, 5A","327 EAST 3 STREET, 2E","317 EAST 3RD STREET, 12","311 EAST 3RD STREET, 17","311 EAST 3RD, 22","742 EAST 6TH STREET, 1",244 EAST 7TH STREET,...,1235 FOREST HILL ROAD,1235 FOREST HILL ROAD,1235 FOREST HILL ROAD,1235 FOREST HILL ROAD,39 DREYER AVENUE,392 HAWTHORNE AVENUE,418 HAWTHORNE AVENUE,18 DARCEY AVENUE,81 KELL AVENUE,1235 FOREST HILL ROAD
apartment_number,,,,,,,,,,,...,2H,2J,2K,2L,,,,,,P3
zip_code,10009,10009,10009,10009,10009,10009,10009,10009,10009,10009,...,10314,10314,10314,10314,10314,10314,10314,10314,10314,10314
residential_units,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,0,0
commercial_units,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
total_units,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,0,1
land_square_feet,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,2000,-
gross_square_feet,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
year_built,1920,1920,1920,1920,1920,1925,1920,1920,1902,1928,...,2015,2015,2015,2015,1979,1980,1980,1980,0,2015
tax_class_at_time_of_sale,2,2,2,2,2,2,2,2,2,2,...,1,1,1,1,1,1,1,1,1,4
building_class_at_time_of_sale,C6,C6,C6,C6,C6,C6,C6,C6,C6,C6,...,R3,R3,R3,R3,R3,R3,R3,R3,V0,RP
sale_price,1,499000,10,529500,423000,501000,450000,510000,350000,11900000,...,420810,410670,420810,430950,415500,335000,420000,407000,20000,5000
sale_date,2016-09-06 00:00:00,2017-03-10 00:00:00,2017-04-28 00:00:00,2017-06-09 00:00:00,2017-07-14 00:00:00,2017-03-16 00:00:00,2016-09-01 00:00:00,2017-08-17 00:00:00,2017-08-30 00:00:00,2017-06-21 00:00:00,...,2017-03-31 00:00:00,2017-03-06 00:00:00,2017-04-11 00:00:00,2017-06-01 00:00:00,2016-10-31 00:00:00,2016-10-20 00:00:00,2016-12-29 00:00:00,2016-10-13 00:00:00,2017-01-04 00:00:00,2017-04-28 00:00:00

In [12]:
df.gross_square_feet = pd.to_numeric(df.gross_square_feet, downcast='integer')

ValueError: Unable to parse string " -  " at position 6

In [9]:
df.dtypes

borough                            int64
neighborhood                      object
building_class_category           object
tax_class_at_present              object
block                              int64
lot                                int64
ease_ment                         object
building_class_at_present         object
address                           object
apartment_number                  object
zip_code                           int64
residential_units                  int64
commercial_units                   int64
total_units                        int64
land_square_feet                  object
gross_square_feet                 object
year_built                         int64
tax_class_at_time_of_sale          int64
building_class_at_time_of_sale    object
sale_price                         int64
sale_date                         object
dtype: object

In [17]:
df.describe()

,borough,block,lot,zip_code,residential_units,commercial_units,total_units,year_built,tax_class_at_time_of_sale,sale_price
count,69987.000000,69987.000000,69987.000000,69987.000000,69987.000000,69987.000000,69987.000000,69987.000000,69987.000000,6.998700e+04
mean,2.921928,4196.072528,373.828397,10741.455185,1.899553,0.172489,2.092203,1799.348236,1.641976,1.276456e+06
std,1.235688,3429.196524,656.096528,1263.234938,14.549545,9.123717,17.276100,520.884552,0.771162,1.140526e+07
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000e+00
25%,2.000000,1348.000000,22.000000,10306.000000,0.000000,0.000000,0.000000,1920.000000,1.000000,2.250000e+05
50%,3.000000,3378.000000,50.000000,11209.000000,1.000000,0.000000,1.000000,1937.000000,2.000000,5.300000e+05
75%,4.000000,6186.000000,709.000000,11249.000000,2.000000,0.000000,2.000000,1965.000000,2.000000,9.500000e+05
max,5.000000,16319.000000,9106.000000,11694.000000,1844.000000,2261.000000,2261.000000,2017.000000,4.000000,2.210000e+09

In [22]:
df[df.sale_price <= 100]

,borough,neighborhood,building_class_category,tax_class_at_present,block,lot,ease_ment,building_class_at_present,address,apartment_number,...,residential_units,commercial_units,total_units,land_square_feet,gross_square_feet,year_built,tax_class_at_time_of_sale,building_class_at_time_of_sale,sale_price,sale_date
12,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,40,,C6,"327 EAST 3 STREET, 1C",,...,0,0,0,-,-,1920,2,C6,1,2016-09-06 00:00:00
14,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,40,,C6,"327 EAST 3 STREET, 3A",,...,0,0,0,-,-,1920,2,C6,10,2017-04-28 00:00:00
207,1,CHELSEA,01 ONE FAMILY DWELLINGS,1,772,29,,A4,231 WEST 22ND STREET,,...,1,0,1,1588,5653,1900,1,A4,10,2017-01-30 00:00:00
208,1,CHELSEA,01 ONE FAMILY DWELLINGS,1,772,29,,A4,231 WEST 22ND STREET,,...,1,0,1,1588,5653,1900,1,A4,10,2017-01-30 00:00:00
209,1,CHELSEA,01 ONE FAMILY DWELLINGS,1,772,29,,A4,231 WEST 22ND STREET,,...,1,0,1,1588,5653,1900,1,A4,10,2017-01-30 00:00:00
618,1,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,720,1106,,R4,468 WEST 23RD STREET,3A,...,1,0,1,-,-,1900,2,R4,10,2017-01-06 00:00:00
656,1,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,767,1110,,R4,257 WEST 17TH STREET,4A,...,1,0,1,-,-,0,2,R4,1,2016-09-27 00:00:00
832,1,CHELSEA,14 RENTALS - 4-10 UNIT,2A,722,75,,S3,256 10TH AVENUE,,...,3,1,4,1146,3339,1910,2,S3,10,2017-01-27 00:00:00
1071,1,CHINATOWN,13 CONDOS - ELEVATOR APARTMENTS,2,293,1011,,R4,18 ELDRIDGE STREET,6A,...,1,0,1,-,-,2007,2,R4,10,2017-02-23 00:00:00
1072,1,CHINATOWN,14 RENTALS - 4-10 UNIT,2B,199,1,,S5,79 BAXTER STREET,,...,6,1,7,2500,9835,1890,2,S5,10,2017-01-17 00:00:00
1450,1,CLINTON,07 RENTALS - WALKUP APARTMENTS,2B,1054,128,,C4,403 WEST 44TH STREET,,...,8,0,8,2008,4000,1920,2,C4,10,2016-10-06 00:00:00
1460,1,CLINTON,07 RENTALS - WALKUP APARTMENTS,2,1099,30,,C7,723 ELEVENTH AVENUE,,...,11,1,12,2508,10035,1901,2,C7,10,2016-10-06 00:00:00
1461,1,CLINTON,07 RENTALS - WALKUP APARTMENTS,2,1099,31,,C7,725 ELEVENTH AVENUE,,...,12,1,13,2508,10035,1901,2,C7,10,2016-10-06 00:00:00
1653,1,CLINTON,13 CONDOS - ELEVATOR APARTMENTS,2,1063,1129,,R4,425 W 53RD,310,...,1,0,1,-,-,2007,2,R4,1,2016-12-12 00:00:00
1714,1,CLINTON,13 CONDOS - ELEVATOR APARTMENTS,2,1077,1001,,R4,540 WEST 49TH STREET,CY6N,...,1,0,1,-,-,2013,2,R4,10,2016-10-14 00:00:00
1806,1,EAST VILLAGE,07 RENTALS - WALKUP APARTMENTS,2,448,19,,C1,70 EAST 7TH STREET,,...,24,0,24,2271,10092,1910,2,C1,10,2016-12-16 00:00:00
2282,1,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,18,1435,,R4,88 GREENWICH STREET,3302,...,1,0,1,-,-,1956,2,R4,10,2016-11-18 00:00:00
3069,1,GRAMERCY,07 RENTALS - WALKUP APARTMENTS,2,883,66,,C7,115 LEXINGTON,,...,11,1,12,1488,8888,2000,2,C7,10,2017-04-07 00:00:00
3070,1,GRAMERCY,07 RENTALS - WALKUP APARTMENTS,2B,896,20,,C7,241 EAST 14TH STREET,,...,9,1,10,2633,8689,1910,2,C7,10,2017-01-02 00:00:00
3409,1,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,876,1013,,R4,7 GRAMERCY PARK WEST,5A,...,1,0,1,-,-,1913,2,R4,1,2016-11-08 00:00:00
3550,1,GREENWICH VILLAGE-CENTRAL,07 RENTALS - WALKUP APARTMENTS,2,540,35,,C4,208 SULLIVAN STREET,,...,22,0,22,2500,11046,1900,2,C4,10,2017-02-27 00:00:00
3894,1,GREENWICH VILLAGE-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,525,1714,,R4,184 THOMPSON,5U,...,1,0,1,-,-,1910,2,R4,1,2017-07-25 00:00:00
3927,1,GREENWICH VILLAGE-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,559,1170,,R4,110 THIRD AVENUE,19A,...,1,0,1,-,-,2006,2,R4,1,2017-03-14 00:00:00
4211,1,GREENWICH VILLAGE-WEST,07 RENTALS - WALKUP APARTMENTS,2B,615,89,,C4,255 WEST 12TH STREET,,...,10,0,10,1750,6925,1900,2,C4,10,2016-10-06 00:00:00
4223,1,GREENWICH VILLAGE-WEST,07 RENTALS - WALKUP APARTMENTS,2B,631,18,,C1,714 GREENWICH STREET,,...,10,0,10,1525,6155,1910,2,C1,10,2016-10-06 00:00:00
4599,1,GREENWICH VILLAGE-WEST,13 CONDOS - ELEVATOR APARTMENTS,2,618,1007,,R4,222 WEST 14TH STREET,2B,...,1,0,1,-,-,1986,2,R4,10,2017-02-17 00:00:00
4610,1,GREENWICH VILLAGE-WEST,13 CONDOS - ELEVATOR APARTMENTS,2,624,1134,,R4,302 WEST 12TH STREET,5D,...,1,0,1,-,-,1910,2,R4,10,2017-03-08 00:00:00
5298,1,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,1916,1215,,R4,171 WEST 131 STREET,210,...,1,0,1,-,-,2013,2,R4,10,2016-12-29 00:00:00
5587,1,HARLEM-CENTRAL,31 COMMERCIAL VACANT LAND,4,1955,16,,V1,2405 FREDRICK DOUGLASS BL,,...,0,0,0,1875,-,0,4,V1,1,2017-06-30 00:00:00
5609,1,HARLEM-CENTRAL,40 SELECTED GOVERNMENTAL FACILITIES,4,1773,62,,Y1,120 EAST 125 STREET,,...,0,1,1,2523,8500,1950,4,Y1,1,2017-01-04 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82619,5,SILVER LAKE,01 ONE FAMILY DWELLINGS,1,277,52,,A2,109 LAWRENCE AVENUE,,...,1,0,1,3115,899,1910,1,A2,10,2017-04-21 00:00:00
82654,5,SOUTH BEACH,01 ONE FAMILY DWELLINGS,1,3116,77,,A5,44B AUSTIN AVENUE,,...,1,0,1,3000,1560,2005,1,A5,10,2017-07-05 00:00:00
82713,5,SOUTH BEACH,01 ONE FAMILY DWELLINGS,1,3252,57,,A2,289 NORWAY AVENUE,,...,1,0,1,3000,792,1935,1,A2,10,2016-12-16 00:00:00
82809,5,SOUTH BEACH,01 ONE FAMILY DWELLINGS,1,3491,90,,A5,116 OCEANSIDE AVENUE,,...,1,0,1,1500,1350,2004,1,A5,10,2017-06-10 00:00:00
82839,5,SOUTH BEACH,02 TWO FAMILY DWELLINGS,1,3351,7,,B2,126 JEROME ROAD,,...,2,0,2,4000,2426,1960,1,B2,10,2017-03-30 00:00:00
82853,5,SOUTH BEACH,02 TWO FAMILY DWELLINGS,1,3411,26,,B9,34 ANDREWS STREET,,...,2,0,2,2645,1275,2004,1,B9,10,2017-07-05 00:00:00
82900,5,STAPLETON,01 ONE FAMILY DWELLINGS,1,536,87,,A1,489 VAN DUZER STREET,,...,1,0,1,3168,1254,1899,1,A1,100,2016-11-15 00:00:00
82966,5,STAPLETON,02 TWO FAMILY DWELLINGS,1,581,37,,B3,221 WARD AVENUE,,...,2,0,2,6250,3282,1899,1,B3,10,2016-11-03 00:00:00
83005,5,STAPLETON-CLIFTON,01 ONE FAMILY DWELLINGS,1,2839,167,,A1,115 TOWNSEND AVENUE,,...,1,0,1,4070,1912,1899,1,A1,10,2016-09-29 00:00:00
83006,5,STAPLETON-CLIFTON,01 ONE FAMILY DWELLINGS,1,2839,167,,A1,115 TOWNSEND AVENUE,,...,1,0,1,4070,1912,1899,1,A1,10,2016-09-29 00:00:00
83068,5,SUNNYSIDE,01 ONE FAMILY DWELLINGS,1,602,8,,A1,35 GRAND AVENUE,,...,1,0,1,5000,1632,1950,1,A1,10,2017-01-04 00:00:00
83145,5,TODT HILL,01 ONE FAMILY DWELLINGS,1,867,24,,A3,81 BENEDICT ROAD,,...,1,0,1,11217,6517,2002,1,A3,10,2017-03-29 00:00:00
83181,5,TODT HILL,33 EDUCATIONAL FACILITIES,4,683,1,,W1,715 OCEAN TERRACE,,...,0,1,1,2128899,240,1965,4,W1,1,2016-11-14 00:00:00
83182,5,TODT HILL,33 EDUCATIONAL FACILITIES,4,683,301,,W1,MILFORD DRIVE,,...,0,1,1,78672,126468,1965,4,W1,1,2016-12-09 00:00:00
83291,5,TOTTENVILLE,01 ONE FAMILY DWELLINGS,1,7863,232,,A5,48 FOREST LANE,,...,1,0,1,910,1060,1999,1,A5,1,2016-10-03 00:00:00
83331,5,TOTTENVILLE,01 ONE FAMILY DWELLINGS,1,7941,14,,A1,706 CRAIG AVENUE,,...,1,0,1,5700,2194,1970,1,A1,10,2016-09-26 00:00:00
83343,5,TOTTENVILLE,01 ONE FAMILY DWELLINGS,1,8003,25,,A1,5445 ARTHUR KILL ROAD,,...,1,0,1,2303,1024,1996,1,A1,10,2017-03-30 00:00:00
83542,5,TRAVIS,01 ONE FAMILY DWELLINGS,1,2772,31,,A9,30 PRICES LANE,,...,1,0,1,5070,1476,1965,1,A9,10,2017-02-24 00:00:00
83622,5,WEST NEW BRIGHTON,01 ONE FAMILY DWELLINGS,1,132,123,,A1,88 WALBROOKE AVENUE,,...,1,0,1,4160,1300,1925,1,A1,10,2016-11-25 00:00:00
83623,5,WEST NEW BRIGHTON,01 ONE FAMILY DWELLINGS,1,132,127,,A1,96 WALBROOKE AVENUE,,...,1,0,1,4120,1516,1930,1,A1,10,2017-02-03 00:00:00
83641,5,WEST NEW BRIGHTON,01 ONE FAMILY DWELLINGS,1,153,35,,A1,428 DAVIS AVENUE,,...,1,0,1,3500,1120,1920,1,A1,10,2016-10-20 00:00:00
83656,5,WEST NEW BRIGHTON,01 ONE FAMILY DWELLINGS,1,161,14,,A9,184 ELM STREET,,...,1,0,1,2000,1200,1989,1,A9,10,2017-02-22 00:00:00
83990,5,WESTERLEIGH,01 ONE FAMILY DWELLINGS,1,465,36,,A2,206 WATCHOGUE ROAD,,...,1,0,1,3500,1368,1955,1,A2,10,2017-01-24 00:00:00
84043,5,WESTERLEIGH,01 ONE FAMILY DWELLINGS,1,1468,16,,A1,256 WATERS AVENUE,,...,1,0,1,2375,1080,1930,1,A1,10,2017-03-03 00:00:00
84177,5,WESTERLEIGH,22 STORE BUILDINGS,4,467,6,,K2,286 WATCHOGUE ROAD,,...,0,2,2,3000,2700,1985,4,K2,10,2017-03-03 00:00:00
84187,5,WILLOWBROOK,01 ONE FAMILY DWELLINGS,1,734,13,,A2,64 KELL AVENUE,,...,1,0,1,6000,864,1950,1,A2,10,2017-02-24 00:00:00
84194,5,WILLOWBROOK,01 ONE FAMILY DWELLINGS,1,735,153,,A1,32 CARMEL AVENUE,,...,1,0,1,4000,1376,1925,1,A1,10,2017-05-12 00:00:00
84202,5,WILLOWBROOK,01 ONE FAMILY DWELLINGS,1,744,14,,A2,78 ARDMORE AVENUE,,...,1,0,1,4000,960,1950,1,A2,10,2017-07-27 00:00:00
84301,5,WILLOWBROOK,02 TWO FAMILY DWELLINGS,1,749,14,,B2,84 CRAFTON AVENUE,,...,2,0,2,4200,1870,1920,1,B2,10,2017-02-24 00:00:00
84502,5,WOODROW,02 TWO FAMILY DWELLINGS,1,6914,35,,B2,1016 EDGEGROVE AVENUE,,...,2,0,2,10000,4526,1985,1,B2,10,2017-02-03 00:00:00

In [21]:
df[df['sale_price'].between(100, 10000)]

,borough,neighborhood,building_class_category,tax_class_at_present,block,lot,ease_ment,building_class_at_present,address,apartment_number,...,residential_units,commercial_units,total_units,land_square_feet,gross_square_feet,year_built,tax_class_at_time_of_sale,building_class_at_time_of_sale,sale_price,sale_date
1730,1,CLINTON,13 CONDOS - ELEVATOR APARTMENTS,2,1090,1097,,R4,635 WEST 42ND STREET,8C,...,1,0,1,-,-,2005,2,R4,500,2016-12-08 00:00:00
2332,1,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,25,1629,,R4,15 WILLIAM STREET,35B,...,1,0,1,-,-,2005,2,R4,500,2016-11-01 00:00:00
2583,1,FINANCIAL,47 CONDO NON-BUSINESS STORAGE,4,53,1135,,RS,120 GREENWICH STREET,RSU35,...,0,0,1,-,-,1903,4,RS,7000,2017-07-25 00:00:00
3674,1,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,551,1,,D4,"2 FIFTH AVENUE, HALL",,...,0,0,0,-,-,1952,2,D4,2400,2016-10-06 00:00:00
4078,1,GREENWICH VILLAGE-CENTRAL,17 CONDO COOPS,2,535,1002,,R9,"14 WEST 4TH STREET, B1503",,...,0,0,0,-,-,1900,2,R9,7500,2016-09-26 00:00:00
5663,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1621,65,,C7,12 EAST 116 STREET,,...,10,1,11,2523,8620,1920,2,C7,373,2016-11-03 00:00:00
6033,1,HARLEM-UPPER,07 RENTALS - WALKUP APARTMENTS,2A,2064,43,,C3,420 WEST 150 STREET,,...,4,0,4,1352,2520,1926,2,C3,4063,2016-11-27 00:00:00
6062,1,HARLEM-UPPER,09 COOPS - WALKUP APARTMENTS,2,2083,45,,C6,"522 WEST 152ND STREET, D3",,...,0,0,0,-,-,1900,2,C6,5000,2017-02-28 00:00:00
7224,1,MANHATTAN VALLEY,13 CONDOS - ELEVATOR APARTMENTS,2,1844,1005,,R4,478 CENTRAL PARK WEST,2B,...,1,0,1,-,-,1900,2,R4,1175,2016-09-01 00:00:00
8343,1,MIDTOWN EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1327,1151,,R4,250 EAST 54TH STREET,12C,...,1,0,1,-,-,1990,2,R4,500,2017-02-01 00:00:00
9613,1,MIDTOWN WEST,26 OTHER HOTELS,4,1009,37,,H3,102 WEST 57TH STREET,,...,0,2,2,7532,112850,2007,4,H3,100,2016-10-26 00:00:00
9614,1,MIDTOWN WEST,26 OTHER HOTELS,4,1009,37,,H3,102 WEST 57TH STREET,,...,0,2,2,7532,112850,2007,4,H3,100,2016-09-28 00:00:00
9668,1,MIDTOWN WEST,26 OTHER HOTELS,4,1009,37,,H3,102 WEST 57TH STREET,,...,0,2,2,7532,112850,2007,4,H3,100,2016-09-14 00:00:00
9670,1,MIDTOWN WEST,26 OTHER HOTELS,4,1009,37,,H3,102 WEST 57TH,,...,0,2,2,7532,112850,2007,4,H3,8909,2016-09-13 00:00:00
9672,1,MIDTOWN WEST,26 OTHER HOTELS,4,1009,37,,H3,102 WEST 57TH STREET,,...,0,2,2,7532,112850,2007,4,H3,5997,2016-09-09 00:00:00
9673,1,MIDTOWN WEST,26 OTHER HOTELS,4,1009,37,,H3,102 WEST 57TH STREET,,...,0,2,2,7532,112850,2007,4,H3,100,2016-09-07 00:00:00
9674,1,MIDTOWN WEST,26 OTHER HOTELS,4,1009,37,,H3,102 WEST 57TH STREET,,...,0,2,2,7532,112850,2007,4,H3,100,2016-09-07 00:00:00
9677,1,MIDTOWN WEST,26 OTHER HOTELS,4,1009,37,,H3,102 WEST 57TH STREET,,...,0,2,2,7532,112850,2007,4,H3,10000,2016-09-02 00:00:00
9707,1,MIDTOWN WEST,43 CONDO OFFICE BUILDINGS,4,1262,1725,,RB,50 WEST 47TH STREET,11A,...,0,0,1,-,-,2009,4,RB,3001,2017-05-25 00:00:00
9715,1,MIDTOWN WEST,45 CONDO HOTELS,4,1006,1302,,RH,1335 AVENUE OF THE AMER,TIMES,...,0,0,1,-,-,1963,4,RH,10000,2017-03-21 00:00:00
9778,1,MIDTOWN WEST,45 CONDO HOTELS,4,1027,1336,,RH,870 7 AVENUE,1509,...,0,0,1,-,-,0,4,RH,1000,2016-09-29 00:00:00
13857,1,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1514,8,,D4,"111 EAST 85TH STREET, CO18D",,...,0,0,0,-,-,1971,2,D4,6024,2016-09-07 00:00:00
16468,1,UPPER WEST SIDE (59-79),47 CONDO NON-BUSINESS STORAGE,4,1152,1170,,RS,243 WEST 60TH STREET,26,...,0,0,1,-,-,2007,4,RS,7500,2016-11-07 00:00:00
16476,1,UPPER WEST SIDE (59-79),47 CONDO NON-BUSINESS STORAGE,4,1164,1035,,RS,201 WEST 72ND STREET,34ST,...,0,0,1,-,-,0,4,RS,100,2016-09-30 00:00:00
16490,1,UPPER WEST SIDE (59-79),47 CONDO NON-BUSINESS STORAGE,4,1171,2285,,RS,240 RIVERSIDE BOULEVARD,SU 17,...,0,0,1,-,-,2004,4,RS,10000,2017-06-09 00:00:00
16499,1,UPPER WEST SIDE (59-79),47 CONDO NON-BUSINESS STORAGE,4,1171,2364,,RS,240 RIVERSIDE BOULEVARD,SU 96,...,0,0,1,-,-,2004,4,RS,5500,2016-12-15 00:00:00
16761,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1209,109,,D4,55 WEST 95TH STREET,,...,48,0,48,8963,61605,1913,2,D4,7928,2016-11-26 00:00:00
16762,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1209,109,,D4,"55 WEST 95TH STREET, 41/42",,...,0,0,0,-,-,1913,2,D4,7928,2016-11-26 00:00:00
16882,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1232,61,,D4,"514 WEST END AVENUE, ROOF",,...,0,0,0,-,-,1923,2,D4,10000,2017-05-25 00:00:00
18269,1,WASHINGTON HEIGHTS UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2164,1118,,R4,160 WADSWORTH AVENUE,508,...,1,0,1,-,-,0,2,R4,500,2016-09-29 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80091,5,MIDLAND BEACH,05 TAX CLASS 1 VACANT LAND,1B,3864,3,,V0,OCEANSIDE AVENUE,,...,0,0,0,2200,-,0,1,V0,1000,2017-02-08 00:00:00
80261,5,NEW BRIGHTON,03 THREE FAMILY DWELLINGS,1,52,38,,C0,95 YORK AVENUE,,...,3,0,3,2675,1456,1920,1,C0,100,2016-10-31 00:00:00
80525,5,NEW DORP-BEACH,01 ONE FAMILY DWELLINGS,1,4043,12,,A5,33 MILTON AVENUE,,...,1,0,1,2120,1700,2005,1,A5,100,2017-06-27 00:00:00
80563,5,NEW DORP-BEACH,01 ONE FAMILY DWELLINGS,1,4071,91,,A5,14 JENNIFER LANE,,...,1,0,1,1369,1340,1990,1,A5,1000,2017-06-23 00:00:00
80825,5,NEW SPRINGVILLE,01 ONE FAMILY DWELLINGS,1,2386,3,,A5,319 MERRYMOUNT STREET,,...,1,0,1,2090,1360,1994,1,A5,2000,2017-05-08 00:00:00
80955,5,NEW SPRINGVILLE,02 TWO FAMILY DWELLINGS,1,2382,40,,B2,31 RADFORD STREET,,...,2,0,2,9105,3110,1970,1,B2,1000,2017-06-15 00:00:00
81019,5,NEW SPRINGVILLE,04 TAX CLASS 1 CONDOS,1A,1992,1245,,R3,20 GINA COURT,311,...,1,0,1,-,-,1987,1,R3,1000,2017-02-21 00:00:00
81054,5,NEW SPRINGVILLE,04 TAX CLASS 1 CONDOS,1A,2401,1134,,R3,43 LAMPED LOOP,BRR,...,1,0,1,-,-,1985,1,R3,100,2016-09-30 00:00:00
81439,5,OAKWOOD-BEACH,05 TAX CLASS 1 VACANT LAND,1B,4787,2,,V0,GREAT KILLS LANE,,...,0,0,0,180,-,0,1,V0,2200,2017-03-15 00:00:00
81579,5,PORT IVORY,31 COMMERCIAL VACANT LAND,4,1290,305,,V1,WOODCLIFF AVENUE,,...,0,0,0,3102,-,0,4,V1,10000,2017-02-23 00:00:00
81749,5,PORT RICHMOND,02 TWO FAMILY DWELLINGS,1,1084,127,,B2,102 SHARPE AVENUE,,...,2,0,2,4040,1900,1899,1,B2,1000,2017-05-11 00:00:00
81762,5,PORT RICHMOND,02 TWO FAMILY DWELLINGS,1,1116,24,,B2,19 JOHN STREET,,...,2,0,2,2805,1588,1915,1,B2,500,2017-02-24 00:00:00
82135,5,ROSEBANK,01 ONE FAMILY DWELLINGS,1,2846,225,,A1,61 ANDERSON STREET,,...,1,0,1,2825,1080,1930,1,A1,500,2017-01-25 00:00:00
82883,5,STAPLETON,01 ONE FAMILY DWELLINGS,1,513,39,,A5,77 BEACH STREET,,...,1,0,1,2178,1080,1998,1,A5,1000,2017-07-17 00:00:00
82893,5,STAPLETON,01 ONE FAMILY DWELLINGS,1,527,106,,A9,139 BOYD STREET,,...,1,0,1,1188,1208,1989,1,A9,500,2016-12-19 00:00:00
82900,5,STAPLETON,01 ONE FAMILY DWELLINGS,1,536,87,,A1,489 VAN DUZER STREET,,...,1,0,1,3168,1254,1899,1,A1,100,2016-11-15 00:00:00
82942,5,STAPLETON,02 TWO FAMILY DWELLINGS,1,524,57,,B9,35 WRIGHT STREET,,...,2,0,2,1380,1405,2005,1,B9,500,2017-03-06 00:00:00
83315,5,TOTTENVILLE,01 ONE FAMILY DWELLINGS,1,7899,39,,A5,17 BRIGHTON STREET,,...,1,0,1,2312,1744,2005,1,A5,1500,2017-05-08 00:00:00
83420,5,TOTTENVILLE,02 TWO FAMILY DWELLINGS,1,7944,11,,B2,7684 AMBOY ROAD,,...,2,0,2,4000,1536,1899,1,B2,500,2016-10-24 00:00:00
83474,5,TOTTENVILLE,05 TAX CLASS 1 VACANT LAND,1B,7826,550,,V0,SPRAGUE AVENUE,,...,0,0,0,5350,-,0,1,V0,5000,2017-03-03 00:00:00
83568,5,TRAVIS,05 TAX CLASS 1 VACANT LAND,1B,2776,152,,V3,CANNON AVENUE,,...,0,0,0,13504,-,0,1,V3,500,2017-05-05 00:00:00
83594,5,TRAVIS,31 COMMERCIAL VACANT LAND,4,2771,4,,V1,VICTORY BOULEVARD,,...,0,0,0,3300,-,0,4,V1,10000,2016-10-13 00:00:00
83682,5,WEST NEW BRIGHTON,01 ONE FAMILY DWELLINGS,1,198,30,,A5,17 PARIS COURT,,...,1,0,1,1750,1260,2003,1,A5,500,2017-07-24 00:00:00
83701,5,WEST NEW BRIGHTON,01 ONE FAMILY DWELLINGS,1,213,65,,A1,27 WHITE PLACE,,...,1,0,1,2900,1450,1901,1,A1,500,2017-03-30 00:00:00
83719,5,WEST NEW BRIGHTON,01 ONE FAMILY DWELLINGS,1,223,45,,A1,359 CLOVE ROAD,,...,1,0,1,4207,1704,1899,1,A1,5700,2017-06-14 00:00:00
83787,5,WEST NEW BRIGHTON,02 TWO FAMILY DWELLINGS,1,175,54,,B2,200 NORTH BURGHER AVENUE,,...,2,0,2,7761,2216,1901,1,B2,500,2017-04-13 00:00:00
83789,5,WEST NEW BRIGHTON,02 TWO FAMILY DWELLINGS,1,177,22,,B9,214 MARKET STREET,,...,2,0,2,2339,1400,1999,1,B9,500,2017-01-26 00:00:00
84162,5,WESTERLEIGH,05 TAX CLASS 1 VACANT LAND,1B,1478,194,,V0,VEDDER AVENUE,,...,0,0,0,223,-,0,1,V0,2000,2017-04-06 00:00:00
84394,5,WILLOWBROOK,44 CONDO PARKING,4,1965,1126,,RP,1235 FOREST HILL ROAD,P3,...,0,0,1,-,-,2015,4,RP,5000,2017-04-28 00:00:00
84464,5,WOODROW,01 ONE FAMILY DWELLINGS,1,7106,50,,A5,30 LORRAINE LOOP,,...,1,0,1,1312,1570,1991,1,A5,3000,2017-01-14 00:00:00

### Why are there zipcodes with 0?  Why is there a 0 in year built?