In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn import tree

import seaborn as sns

import acquire_prep
from acquire_prep import acquire_df
from acquire_prep import prep_df

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = prep_df()

In [6]:
df.head().T

,0,1,2,3,4
BOROUGH,1,1,1,1,1
NEIGHBORHOOD,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY
BUILDING CLASS CATEGORY,07 RENTALS - WALKUP APARTMENTS,07 RENTALS - WALKUP APARTMENTS,07 RENTALS - WALKUP APARTMENTS,07 RENTALS - WALKUP APARTMENTS,07 RENTALS - WALKUP APARTMENTS
TAX CLASS AT PRESENT,2A,2,2,2B,2A
BLOCK,392,399,399,402,404
LOT,6,26,39,21,55
EASE-MENT,,,,,
BUILDING CLASS AT PRESENT,C2,C7,C7,C4,C2
ADDRESS,153 AVENUE B,234 EAST 4TH STREET,197 EAST 3RD STREET,154 EAST 7TH STREET,301 EAST 10TH STREET
APARTMENT NUMBER,,,,,
ZIP CODE,10009,10009,10009,10009,10009
RESIDENTIAL UNITS,5,28,16,10,6
COMMERCIAL UNITS,0,3,1,0,0
TOTAL UNITS,5,31,17,10,6
LAND SQUARE FEET,1633,4616,2212,2272,2369
GROSS SQUARE FEET,6440,18690,7803,6794,4615
YEAR BUILT,1900,1900,1900,1913,1900
TAX CLASS AT TIME OF SALE,2,2,2,2,2
BUILDING CLASS AT TIME OF SALE,C2,C7,C7,C4,C2
SALE PRICE,6625000,-,-,3936272,8000000
SALE DATE,2017-07-19 00:00:00,2016-12-14 00:00:00,2016-12-09 00:00:00,2016-09-23 00:00:00,2016-11-17 00:00:00

In [4]:
df.isnull().sum()

BOROUGH                           0
NEIGHBORHOOD                      0
BUILDING CLASS CATEGORY           0
TAX CLASS AT PRESENT              0
BLOCK                             0
LOT                               0
EASE-MENT                         0
BUILDING CLASS AT PRESENT         0
ADDRESS                           0
APARTMENT NUMBER                  0
ZIP CODE                          0
RESIDENTIAL UNITS                 0
COMMERCIAL UNITS                  0
TOTAL UNITS                       0
LAND SQUARE FEET                  0
GROSS SQUARE FEET                 0
YEAR BUILT                        0
TAX CLASS AT TIME OF SALE         0
BUILDING CLASS AT TIME OF SALE    0
SALE PRICE                        0
SALE DATE                         0
dtype: int64